.task {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3% 2%;
  border-radius: 10px;
}
p {
  font-size: x-large;
  max-width: 85%;
  overflow-wrap: break-word;
  margin: 0;
}
i {
  padding: 0 5%;
}
