.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 8vw;
}
.header__right {
  background-color: aqua;
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
