.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 8%;
}
.header__right {
  background-color: aqua;
  padding: 4.5%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
