.bottomNavbar {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addTask__container {
  background-color: white;
  border-radius: 100%;
  width: 25vw;
  height: 11vh;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTask {
  background-color: gray;
  width: 20vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
