.addTodo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  bottom: 0;
  width: 100%;
  padding: 1% 0;
  z-index: 999;
  background-color: white;
}
label {
  width: 15%;
  text-align: center;
}
input {
  width: 70%;
  font-size: x-large;
  padding: 2%;
  border: none;
}
input:focus {
  outline: none;
  border-bottom: 1px solid gray;
}
.addButton {
  width: 15%;
  cursor: pointer;
  text-align: center;
}
