body {
  margin: 0;
}
main {
  background-color: aquamarine;
  height: 100vh;
}
.appContainer {
  position: relative;
  height: 100%;
}
.appBody {
  position: relative;
  width: 100%;
  background-color: aliceblue;
  height: 100%;
  overflow: scroll;
}
.BottomNavbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 99;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .appContainer {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .appContainer {
    width: 50%;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .appContainer {
    width: 40%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .appContainer {
    width: 30%;
    margin: auto;
  }
}
